.banner{
    margin: 0%;
    padding: 0%;
    height: 15%;
}
p{font-size: 20px;
    align-items: center;
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-style: bold;
    padding: 5px;
}

.map{
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}

footer{
    height: 15%;
}
.diagonal-gradient{
    height: 15%;
    margin: 0px;
    padding:0px;
}
footer p{
    text-align: left;
    padding-left: 15px;
    margin: 0px;
    /* padding:0px; */
}