/* .titulo{
    color: black;
    text-align: center;   
} */
/* h3{
    align-items: center;
    text-align: center;
} */
/* .valores{
    text-align: left;
} */
div p{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.banner{
    height: 10%;
}
/* .promo{
    width: 100%;
} */
footer{
    height: 15%;
}
.diagonal-gradient{
    height: 15%;
    margin: 0px;
    padding:0px;
}
footer p{
    padding-left: 15px;
    margin: 0px;
    /* padding:0px; */
}